@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <h1>My Parade Manager</h1>
        </div>
        <div class="card card-md">
            <form id="registerForm" class="card-body" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="h2 text-center mb-4">Login to your account</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" type="email" autocomplete="username"
                           aria-required="true" placeholder="your@email.com"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="password"
                           aria-required="true" placeholder="Your password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-primary">Login</button>
            </form>

        </div>
    </div>

    @* <div class="col-md-6 col-md-offset-2"> *@
    @*     <section> *@
    @*         <h3>Use another service to log in.</h3> *@
    @*         <hr /> *@
    @*         @{ *@
    @*             if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
    @*             { *@
    @*                 <div> *@
    @*                     <p> *@
    @*                         There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article *@
    @*                         about setting up this ASP.NET application to support logging in via external services</a>. *@
    @*                     </p> *@
    @*                 </div> *@
    @*             } *@
    @*             else *@
    @*             { *@
    @*                 <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
    @*                     <div> *@
    @*                         <p> *@
    @*                             @foreach (var provider in Model.ExternalLogins!) *@
    @*                             { *@
    @*                                 <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
    @*                             } *@
    @*                         </p> *@
    @*                     </div> *@
    @*                 </form> *@
    @*             } *@
    @*         } *@
    @*     </section> *@
    @* </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}